
<div><h2>Agrega tu Servicio/Emprendimiento</h2>
<form action="/services" method="POST">
	<label for="name">Nombre: </label>
	<input type="text" name="name">

	<label for="contactInfo">Informacion de contacto </label>
	<input type="text" name="contactInfo">

<textarea name="description"  cols="30" rows="10">Descripción</textarea>

	<button type="submit">Agregar este Servicio</button>
</form>
</div>